@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: "flex";
  align-items: "center";
  justify-content:"center";
}

.tableContainer{
  margin-top: 2%;
}
.formContainer{
  border: 2px solid black;
  border-radius: 16px;
  padding: 5%;
  margin-top: 2%;
}
.formBox {
  width: 100%;
  max-width: 500px;
}
.submitButton{
  margin-top: 10%;
}


